.projectCard {
    border: none !important;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
    min-width: 18rem;
    max-width: 24rem;
    word-wrap: break-word;
}

.projectCard:hover {
    background-color: #ebf2fc;
}

.projectFilter {
    min-width: 100%;
}

.projectFilterDropdown {
    min-width: 100%;
}